.section--statistics {
	margin-top: 95px;
	.section-title {
		margin: 0 0 15px;
	}
	&:empty {
		display: none;
	}
}

.statistics-textarea {
	text-align: center;
	margin-bottom: 110px;
	p {
		margin: 0
	}
	h2 {
		@include font-size(6);
		color: $color__main;
		font-weight: bold;
		margin: 0;
	}
	h3 {
		@include font-size(3.6);
		font-weight: bold;
		margin: 10px auto 20px;
	}
	p:last-of-type {
		max-width: 680px;
		margin: 15px auto 0;
		color: $color__gray47;
	}
}

.statistic-four-column {
	padding: 95px 0 105px;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.statistics-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.statistics-item * {
	text-align: center;
}

.statistics-icon {
	@include font-size(5);
	color: $color__main;
}

.statistics-number {
	@include font-size(5);
	font-weight: bold;
}

.statistics-text {
	color: $color__main;
	@include font-size(1.8);
}

@media ( max-width: 767px) {
	.statistics-content {
		flex-direction: column;
		justify-content: center;
	}
}